table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}

button:hover {
    background-color: chocolate;
}

#paging .inactive {
    background-color: -moz-default-background-color;
}

.clickable {
    cursor: pointer;
}

#paging .active {
    background-color: aqua;
}

.hidden {
    display: none;
}

.create {
    width: 300px;
}

.create select, .create input {
    width: 59%;
    box-sizing: border-box;
}

.rightable {
    float: right;
    margin-right: 35px;
}

button.icon-only {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}